body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

/* PAGE 1*/

.canva {
  background-image: url('../images/cinema.jpg');
  background-size: cover;
  height: 800px;
  position: relative;
  bottom: 70px;
}



.one {
  width: 500px;
  position: relative;
  top: 130px;
  left: 800px;  
}

.one h1 {
  
  font-size: 100px;
  color: white;
  
}

a {
  background-color: white;
  padding: 20px 50px;
  color: #00B7FF;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
}